- name: Boto install
  pip:
    name: [ "boto3", "botocore"]
    extra_args: "--user"

- name: Deploy to EC2
  hosts: localhost
  connection: local

  tasks:
    - name: Launch EC2 Instance
      ec2_instance:
        instance_type: t2.medium
        image_id: ami-0230bd60aa48260c6
        region: us-east-1
        key_name: test
        vpc_subnet_id: subnet-0dfd81f98f07f572e
        count: 1
        security_group: eshop
        network:
          assign_public_ip: yes
        wait: yes
        aws_access_key: $ACCESS_KEY
        aws_secret_key: $SECRET_KEY
        security_token: $SESSION_TOKEN
      register: ec2_instance_result
    
    - name: Add instance host to group
      add_host:
        hostname: "{{item.public_ip_address}}"
        groupname: launched
      loop: "{{ec2_instance_result.instances}}"

    - name: Wait for SSH connections
      delegate_to: "{{item.public_ip_address}}"
      wait_for_connection:
        delay: 30
        timeout: 300
      loop: "{{ec2_instance_result.instances}}"

- name: Configure EC2
  hosts: launched
  connection: ssh

  tasks:
    - name: Install git
      yum:
        name:
          - git
          - docker
        state: latest
        update_cache: yes
      become: yes
    
    - service:
        name: docker
        state: started
        enabled: yes
      become: yes
    
    - name: Start Docker on startup
      shell: systemctl enable docker
      become: yes
    
    - name: Set rights to Docker
      shell: usermod -a -G docker ec2-user
      become: yes
    
    - name: Get eshop from GIT
      git:
        repo: 'https://github.com/odoubrava/4IT572_docker.git'
        dest: ./app
    
    - name: Builed Docker with eshop
      shell: cd app && docker build -t myeshop:latest .
      become: yes

    - name: Run Docker with eshop
      shell: docker run -p 80:3000 myeshop
      async: 45
      poll: 0
      become: yes

    - wait_for:
        port:
          80